body {
  font-family: Arial, sans-serif;
}

header {
  background-image: url("https://via.placeholder.com/1500x400/000000/ffffff?text=Loja+Tech");
  background-size: cover;
  background-position: center;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 1.1rem;
}

footer {
  background-color: #333;
  color: #fff;
}

#produtos img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
